h1{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

p{
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: blue;
    text-transform: uppercase;
}

.texto1{
    text-transform: none;
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    color: rgb(0, 0, 0);
    text-align: justify;
    text-indent: 10px;
}

.container-title{
    background-color: rgba(255, 229, 0);
    margin: 0px;
    padding: 18px;
    text-align: center;
}

.container-title h1{
    font-family: Arial;
    font-size: 27px;
    color: rgb(9, 2, 54);
}

.container-title h1 span{
    font-family: Arial;
    font-size: 20px;
    color: rgb(9, 2, 54);
}

.navbar{
    background-color: rgb(231, 233, 235);
    margin: 5px 20px;
    padding: 0px;
    border-radius: 15px;
}

.navbar ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.navbar li{
    margin: 0px;
}

.navbar a{
    display: block;
    margin: 0px 110px;
    text-decoration: none;
    font-family: Arial;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.navbar a:hover{
    color: rgb(156, 79, 188);
    font-weight: bold;
    text-decoration: underline;
}

.container-main{
    background-color: rgb(231, 233, 235);
    margin: 20px 20px;
    padding: 20px;
    border-radius: 15px;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: rgb(255, 255, 255);
    gap: 20px;
    padding: 20px;
    margin: 20px;
}

.target{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 0 2px 8px rgb(0, 0, 0, .3);
    border-radius: 10px;
}

.target img{
    width: 100%;
    height:450px;
    object-fit: cover;
}

.target h3{
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    color: black;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.price{
    font-family: Arial;
    font-size: 35px;
    font-weight: bold;
    color: black;
    text-align: center;
    letter-spacing: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cuotas{
    font-family: Arial;
    font-size: 27px;
    font-weight: normal;
    color: rgb(73, 145, 139);
    text-align: center;
    letter-spacing: 2px;
    margin-top: 10px;
}

.target button{
    background-color: rgb(153, 89, 182);
    color: white;
    font-family: Arial;
    font-size: 27px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.target button:hover{
    background-color: rgb(44, 60, 200);
}

.title-container{
    margin-top: 100px;
    margin-bottom: 10px;
}

.title-benefits{
    font-family: Arial;
    font-size: 30px;
    color: rgb(31, 12, 135);
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 200px;
    margin-bottom: 5px;
}

.benefits-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: white;
    gap: 20px;
    padding: 20px;
    margin: 20px;
    margin-top: 5px;
}

.unit-benefit{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 0 2px 8px rgb(0, 0, 0, .3);
    border-radius: 10px;
}

.unit-benefit div{
    margin-top: 20px;
    display: block;
    margin: 0 auto;
}

.unit-benefit p{
    font-family: Arial;
    font-size: 24px;
    font-weight: normal;
    color: black;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 10px;
    text-transform: none;
}

@media(min-width: 1200px){
    body{
        background-color: rgb(149, 216, 255);
    }

    .products-container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .target button{
        font-size: 28px;
    }

    .navbar a{
        display: block;
        margin: 0px 60px;
        font-size: 22px;
    }

    .navbar{
        padding: 20px 80px;
    }
}

@media(max-width: 600px){
    body{
        background-color: rgb(169, 75, 197);
    }
        .products-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        }

        .target button{
            font-size: 18px;
        }

        .navbar a{
            display: block;
            margin: 0px 10px;
            font-size: 15px;
        }

        .navbar{
            padding: 5px 40px;
        }
}

@media(max-width: 400px){
    body{
        background-color: rgb(170, 50, 118);
    }

    .products-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
        margin: 10px;
    }

    .target img{
        height: 250px;
    }

    .target button{
        font-size: 14px;
        width: 80%;
    }

    .target h3{
        font-size: 20px;
    }

    .price{
        font-size: 22px;
    }

    .cuotas{
        font-size: 18px;
    }

    .navbar a{
        display: block;
        margin: 0px 5px;
        font-size: 12px;
    }

    .navbar{
        padding: 5px 10px;
    }
}